<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - Fabricam</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
	@RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Web</a>
            </div>
	        <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-controller="Home" asp-action="About">About</a></li>
					<li><a asp-controller="Lead" asp-action="Index">Leads</a></li>
					<li><a asp-controller="Lead" asp-action="JavaScriptTests">JS Tests</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					@*<li auth-show><a asp-controller="Manage" asp-action="Index">Welcome @name!</a></li> TODO: manage account *@
					<li auth-show><a asp-controller="Account" asp-action="Logout">Log out</a></li>
					<li auth-hide><a asp-area="" asp-controller="Account" asp-action="Create">Create Account</a></li>
					<li auth-hide><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
				</ul>
	        </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Richardson</p>
        </footer>
    </div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
	@* Technically only needed for Login page but let's prime cache *@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" integrity="sha256-g1QKGxqsp+x5JkuN/JjHl96je2wztgS5Wo4h4c7gm9M=" crossorigin="anonymous"></script>
	@* Technially only needed for Lead page but let's prime the cache *@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.min.js" integrity="sha256-/l9BnFXLFXApz1s6bz4o3z2xFOUYxZqVFN6ygGI9TQc=" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
